{{colors.length}}
<table>
  <tr *ngFor="let color of colors" [ngStyle]="{color:color.bestBWContrast().toString()}">
      <td [ngStyle]="{backgroundColor:color.toString('name?')}">{{color.toName()}}</td>
      <td [ngStyle]="{backgroundColor:color.toString('rgba')}">{{color.toString('rgba')}}</td>
      <td [ngStyle]="{backgroundColor:color.toString('#')}">{{color.toString('#')}}</td>
      <td [ngStyle]="{backgroundColor:Color.parse(color.toString('rgba')).toString()}">{{Color.parse(color.toString('rgba')).toName()}}</td>
      <td [ngStyle]="{backgroundColor:color.toString('hsla')}">{{color.toString('hsla')}}</td>
      <td [ngStyle]="{backgroundColor:Color.parse(color.toString('hsla')).toString()}">{{Color.parse(color.toString('hsla')).toName()}}</td>
      <td [ngStyle]="{backgroundColor:color.clone().toName()}">{{color.clone().toName()}}</td>
    </tr>
</table>